tropo-applications-wadl.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:apigee="http://api.apigee.com/wadl/2010/07/" 
  xmlns="http://wadl.dev.java.net/2009/02"
  xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">
	
	<resources base="https://api.tropo.com/v1">
		<resource path="applications">
			<method name="POST" id="application_create" apigee:displayName="Create">
				<!-- <request>
					<representation mediaType="application/json"/>
					<representation mediaType="text/xml"/>
					<representation mediaType="application/x-www-form-urlencoded"/>
				</request>
				<response>
					<representation mediaType="application/json"/>
					<representation mediaType="text/xml"/>
				</response> -->
				<!-- Tags are used to organize the list of methods. Primary tag will list the default placement. --> 
		        <apigee:tags> 
		          <apigee:tag primary="true">Applications</apigee:tag> 
		          <apigee:tag>Create</apigee:tag> 
		        </apigee:tags> 

		        <!-- Is authentication required for this method? --> 
		        <apigee:authentication required="true" /> 

		        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
		        <apigee:example url="/applications" /> 

		        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
			    <doc title="" apigee:url="https://www.tropo.com/docs/rest/prov_new_app.htm"> 
				  Use this method to add a brand new application. You can define a voice and messaging URL in the Request Body, but this method won't assign any addresses. You'll need to update the application once it's created to add a phone number or IM account.
			    </doc>
			</method>
			<method name="GET" id="application_findAll" apigee:displayName="ViewAll">
				<!-- <response>
					<representation mediaType="application/json"/>
					<representation mediaType="text/xml"/>
				</response> -->
				<apigee:tags> 
		          <apigee:tag primary="true">Applications</apigee:tag> 
		          <apigee:tag>ViewAll</apigee:tag> 
		        </apigee:tags> 

		        <!-- Is authentication required for this method? --> 
		        <apigee:authentication required="true" /> 

		        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
		        <apigee:example url="/applications" /> 

		        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
			    <doc title="" apigee:url="https://www.tropo.com/docs/rest/prov_view_apps.htm"> 
				  Sometimes you need to access a list of the applications associated with your account; maybe you need to find a particular application's ID number or need to verify whether it's a Scripting or WebAPI application. Using a GET on the applications folder will provide you with the information you need.
			    </doc>
		        
			</method>
			<!-- <resource path="/{applicationId: [0-9]+}"> -->
				<method name="GET" id="application_find" apigee:displayName="ViewApp">
					<!-- <response>
						<representation mediaType="application/json"/>
						<representation mediaType="text/xml"/>
					</response> -->
					<apigee:tags> 
			          <apigee:tag primary="true">Applications</apigee:tag> 
			          <apigee:tag>ViewApp</apigee:tag> 
			        </apigee:tags> 

			        <!-- Is authentication required for this method? --> 
			        <apigee:authentication required="true" /> 

			        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
			        <apigee:example url="/applications/{AppId}" /> 

			        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
				    <doc title="" apigee:url="https://www.tropo.com/docs/rest/prov_view_apps.htm"> 
					  Sometimes you need to access a list a specific application.
				    </doc>
					
				</method>
				<method name="DELETE" id="application_delete" apigee:displayName="Delete">
					<!-- <response>
						<representation mediaType="application/json"/>
						<representation mediaType="text/xml"/>
					</response> -->
					<apigee:tags> 
			          <apigee:tag primary="true">Applications</apigee:tag> 
			          <apigee:tag>Delete</apigee:tag> 
			        </apigee:tags> 

			        <!-- Is authentication required for this method? --> 
			        <apigee:authentication required="true" /> 

			        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
			        <apigee:example url="/applications/{AppId}" /> 

			        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
				    <doc title="" apigee:url="https://www.tropo.com/docs/rest/prov_deleting_app.htm"> 
					  Use this method to remove an application. This cannot be undone; once an application has been deleted, it cannot be restored without recreating it from scratch.
				    </doc>
					
				</method>
				<method name="PUT" id="application_update" apigee:displayName="Update">
					<!-- <request>
						<representation mediaType="application/json"/>
						<representation mediaType="text/xml"/>
						<representation mediaType="application/x-www-form-urlencoded"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
						<representation mediaType="text/xml"/>
					</response> -->
					<apigee:tags> 
			          <apigee:tag primary="true">Applications</apigee:tag> 
			          <apigee:tag>Update</apigee:tag> 
			        </apigee:tags> 

			        <!-- Is authentication required for this method? --> 
			        <apigee:authentication required="true" /> 

			        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
			        <apigee:example url="/applications/{AppId}" /> 

			        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
				    <doc title="" apigee:url="https://www.tropo.com/docs/rest/prov_update_name.htm"> 
					  When you want to change the name, platform or partition of an application, just run a PUT on the application specific folder and specify the new details. The old information will be removed and the new information entered in its place. Note that if you do not have a production Tropo account, you will not be able to change the partition to production.
				    </doc>
					
				</method>
			</resource>
			<resource path="/{applicationId: [0-9]+}/addresses">
				<param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="applicationId"/>
				<method name="POST" id="address_add" apigee:displayName="Add">
					<!-- <request>
						<representation mediaType="application/json"/>
						<representation mediaType="text/xml"/>
						<representation mediaType="application/x-www-form-urlencoded"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
						<representation mediaType="text/xml"/>
					</response> -->
					<apigee:tags> 
			          <apigee:tag primary="true">Addresses</apigee:tag> 
			          <apigee:tag>Add</apigee:tag> 
			        </apigee:tags> 

			        <!-- Is authentication required for this method? --> 
			        <apigee:authentication required="true" /> 

			        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
			        <apigee:example url="/applications/{AppId}/addresses" /> 

			        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
				    <doc title="" apigee:url="https://www.tropo.com/docs/rest/prov_add_number.htm"> 
					  This method will add a number to the application, based on a specified prefix. While the prefix is not necessary, if it's omitted you will be provisioned a randomly selected U.S. number.
				    </doc>
					
				</method>
				<method name="GET" id="address_findAll" apigee:displayName="ViewAll">
					<!-- <response>
						<representation mediaType="application/json"/>
						<representation mediaType="text/xml"/>
					</response> -->
					<apigee:tags> 
			          <apigee:tag primary="true">Addresses</apigee:tag> 
			          <apigee:tag>ViewAll</apigee:tag> 
			        </apigee:tags> 

			        <!-- Is authentication required for this method? --> 
			        <apigee:authentication required="true" /> 

			        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
			        <apigee:example url="/applications/{AppId}/addresses" /> 

			        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
				    <doc title="" apigee:url="https://www.tropo.com/docs/rest/prov_view_app_addresses.htm"> 
					  	Sometimes you'll need to view all the addresses associated with a specific application. Using a GET on the addresses folder will provide you with the information you need; running a GET on a specific address type folder, such as addresses/number or addresses/aim, will get you a list of all the addresses that match that type for this application.
					
				    </doc>
					
				</method>
				<!-- <resource path="/{type}/{value}">
					<param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="applicationId"/>
					<param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="value"/>
					<param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="type"/> -->
					<method name="GET" id="address_find" apigee:displayName="ViewAddress">
						<!-- <response>
							<representation mediaType="application/json"/>
							<representation mediaType="text/xml"/>
						</response> -->
						<apigee:tags> 
				          <apigee:tag primary="true">Addresses</apigee:tag> 
				          <apigee:tag>ViewAddress</apigee:tag> 
				        </apigee:tags> 

				        <!-- Is authentication required for this method? --> 
				        <apigee:authentication required="true" /> 

				        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
				        <apigee:example url="/applications/{AppId}/addresses/{AddressId}" /> 

				        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
					    <doc title="" apigee:url="https://www.tropo.com/docs/rest/prov_view_app_addresses.htm"> 
						  	Sometimes you'll need to view all the addresses associated with a specific application. Using a GET on the addresses folder will provide you with the information you need; running a GET on a specific address type folder, such as addresses/number or addresses/aim, will get you a list of all the addresses that match that type for this application.

					    </doc>
						
					</method>
					<method name="DELETE" id="address_delete" apigee:displayName="Delete">
						<!-- <response>
							<representation mediaType="application/json"/>
							<representation mediaType="text/xml"/>
						</response> -->
						<apigee:tags> 
				          <apigee:tag primary="true">Addresses</apigee:tag> 
				          <apigee:tag>Delete</apigee:tag> 
				        </apigee:tags> 

				        <!-- Is authentication required for this method? --> 
				        <apigee:authentication required="true" /> 

				        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. --> 
				        <apigee:example url="/applications/{AppId}/addresses/number/{AddressId}" /> 

				        <!-- The content of the doc element is shown as a tooltip in the Console's method list. --> 
					    <doc title="" apigee:url="https://www.tropo.com/docs/rest/prov_delete_address.htm"> 
						  	You can remove a phone number, IM account or token from an application. If you remove a phone number, it will become available for use by someone else, so it's not recommended to delete a phone number unless you're absolutely sure you have no further need for it. If you want to move a phone number between applications, there's an easier way. Check out the Adding a Specific Number/Moving a Number> example for more info.
					    </doc>
						
					</method>
				<!-- </resource> -->
			<!-- </resource> -->
		</resource>
	</resources>
</application>
